.addModalContainer {
  width: calc(100% - 2rem);
  max-width: 300px;
  background-color: #fafafa;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  animation: modalAppear 0.5s ease-out forwards;
  padding: 2rem;
  border: 3px solid #212121;
}

.title {
  width: 100%;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  margin: 0rem 0rem 1rem 0rem;
}

.inputLabel {
  width: 80%;
  font-weight: 500;
}

.input {
  width: 100%;
  background-color: transparent;
  border-radius: 0.25rem;
  outline: none;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  padding: 0.5rem;
  border: none;
}

.createBtn {
  width: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #5200ff;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: #fafafa;
  border-radius: 0.25rem;
}

@keyframes modalAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
