.foldercardContainer {
  opacity: 0;
  width: 100%;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
  animation: appear 0.5s ease forwards;
  outline: none;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.favicon {
  height: 20px;
  margin: 0.25rem 0.5rem 0.25rem 0.25rem;
}

.foldercardTitle {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.125rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 70%;
  align-self: center;
}

.deleteBtn {
  height: 0.75rem;
  outline: none;
  cursor: pointer !important;
  margin-right: 0.25rem;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(0.5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
