.foldercardContainer {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fafafa;
  border-radius: 0.25rem;
  padding: 0.25rem 0rem;
  margin-bottom: 0.5rem;
  position: relative;
  animation: appear 0.5s ease forwards;
}

.favicon {
  margin: 0rem 0.5rem;
}

.foldercardTitle {
  margin: 0;
  font-size: 1rem;
}

.deleteBtn {
  width: 11px;
  right: 1rem;
  position: absolute;
  cursor: pointer;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(0.5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
