.headerContainer {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  position: relative;
}

.backBtn {
  height: 25px;
  outline: none;
  cursor: pointer;
  animation: appear 0.6s ease forwards;
  position: absolute;
  left: 0%;
}

.logo {
  display: none;
  height: 1.75rem;
  margin-right: 0.5rem;
}

.headerTitle {
  margin: 0;
  color: #fafafa;
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.logoutBtn {
  height: 25px;
  filter: invert(100%);
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 0%;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-0.5rem);
  }

  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}
