.headerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.backBtn {
  width: 13px;
  outline: none;
  cursor: pointer;
  animation: appear 0.6s ease forwards;
}

.logo {
  display: none;
  height: 1.75rem;
  margin-right: 0.5rem;
}

.headerTitle {
  margin: 0;
  color: #fafafa;
  font-size: 1.75rem;
  font-weight: 700;
}

.logoutBtn {
  width: 20px;
  filter: invert(100%);
  cursor: pointer;
  outline: none;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-0.5rem);
  }

  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}
