.homepageContainer {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1520262454473-a1a82276a574?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
}

.homepageContent {
  position: relative;
  width: 100%;
  max-width: 300px;
  min-height: 500px;
  background-color: #171717;
  border-radius: 15px;
  padding: 1rem;
}

.title {
  margin: 0;
}

.addBtn {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  width: 50px;
  height: 50px;
  color: #fafafa;
  background-color: #5200ff;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 900;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
