.homepageContainer {
  width: 100%;
  min-height: 100%;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1495476479092-6ece1898a101?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
  box-shadow: 0px 0px 21px 15pxrgba (255, 255, 255, 1);
}

.homepageContent {
  position: relative;
  width: 100%;
  max-width: 400px;
  min-height: 600px;
  background-color: #171717;
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem 1rem;
}

.title {
  margin: 0;
}

.addBtn {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  width: 50px;
  height: 50px;
  color: #fafafa;
  background-color: #5200ff;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 900;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 10;
}

.addBtnOpen {
  animation: rotateIn 0.4s ease forwards;
}

.addBtnClose {
  animation: rotateOut 0.4s ease forwards;
}

.modalBg {
  position: absolute;
  width: calc(100% - 2rem);
  max-width: 400px;
  min-height: 600px;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9;
  border-radius: 1rem;
  animation: appear 0.3s ease forwards;
}

@keyframes rotateIn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

@keyframes rotateOut {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
