.loginContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fafafa;
}

.loginDiv {
  padding: 4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #191919;
  animation: loginAppear 0.3s ease-in-out forwards;
  border: 2px solid #fafafa;
}

.title {
  font-size: 3rem;
  margin: 0rem 0rem 2rem 0rem;
}

.loginForm {
  margin-bottom: 1rem;
}

.inputDiv {
  margin-bottom: 1rem;
}

.input {
  background-color: transparent;
  padding: 0.5rem;
  border: 2px solid #5100ffe7;
  border-radius: 0.25rem;
  outline: none;
  font-size: 1rem;
  color: #fafafa;
}

.loginBtn {
  border: none;
  padding: 1rem 0rem;
  width: 100%;
  border-radius: 0.25rem;
  cursor: pointer;
  outline: none;
  background-color: #5200ff;
  font-size: 1rem;
  font-weight: 600;
  color: #fafafa;
}

.createAccountLink {
  margin: 2rem 0rem 0rem 0rem;
  text-decoration: none;
  color: #fafafa;
  cursor: pointer;
}

@keyframes circleGrow {
  from {
    clip-path: circle(15% at 0 0);
  }
  to {
    clip-path: circle(200% at 0 0);
  }
}

@keyframes loginAppear {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
